@import url("./stratagems.scss");
@import url("./layout.scss");
@import url("./highlight.css");
/* TODO: This file is quickly becoming unwieldy, I should separate out the CSS and keep the related stuff together in their own files.
	Additionally, I should double check if i'm actually using every class. I've just been adding and adding.
	Maybe once I'm done the search function rework, (see main.ts), I should refactor all of this.
*/
/* Some basic styles and functions */
:root {
	scroll-behavior: smooth;
	color-scheme: light dark;
}
[x-cloak] {
	display: none !important;
}

/* Lots of unorganized crap below */

.overlay {
	position: relative;
	block-size:50px;
	inline-size:50px;
	margin-inline-end: 10px;
	display: inline-block;
}
.overlay::after {
	content: '';
	backdrop-filter: grayscale() brightness(300%);
	position: absolute;
	inline-size: 50px;
	block-size: 50px;
	inset-block-start: 0;
	inset-inline-start: 0;
	opacity: 0;
	transition: opacity 500ms;
}
/* TODO: Move cooldown animation to animation.scss or stratagems.css*/
.copy .overlay::after {
	content: '';
	backdrop-filter: grayscale() brightness(300%);
	position: absolute;
	inline-size: 50px;
	block-size: 50px;
	inset-block-start: 0;
	inset-inline-start: 0;
	animation-name: block;
	animation-duration: var(--time);
	animation-fill-mode: both;
	animation-timing-function: linear;
	outline: white 2px solid;
	opacity: 1;
}
@keyframes block {
	from {
		block-size: 0px;
	}
	to {
		block-size: 50px;
	}
}
ul.nobullets {
	padding-inline-start: 0;
}
ul.nobullets li {
	list-style: none !important;
}
.stratagems {
	/* padding: 0.25rem; */
	display: grid;
	grid-template-columns: 1fr;
}
@media (prefers-color-scheme:dark) {
	pre {
		background-color: var(--pico-code-background-color) !important;
	}
}
@media (prefers-color-scheme:light) {
	.logo {
		filter: invert();
	}
}
.center {
	display: flex;
	justify-content: center;
}
.center img {
	object-fit: scale-down;
}
.centerText{
	text-align: center;
}
.centerMarginVertical{
	margin-block: auto;
}
.justifyEnd {
	display: flex;
	justify-content: end;
	gap: .5em;
}
.title {
	font-size: 30px;
	font-weight: 800;
	color: light-dark(black,white);
	text-wrap:balance;
}
.title img {
	margin-inline-end: .5rem;
}
.mobile img{
	width: 200px;
}
@media screen and (width < 700px) {
	.mobile {
		display: grid;
		grid-template-rows: auto auto;
		justify-content: center;
	}
	.mobile .title{
		font-size: 20px;
	}
	.mobile img {
		width: 100px;
		object-fit: scale-down;
	}
	.mobileCenter {
		display: flex;
		justify-content: center;
	}
}